Panda Package utilisé pour le calcul scientifique et analyse de données

 Lecture CSV

In [ ]:
import pandas as pd
result = pd.read_csv('csv/athlete_events.csv')
print(result)

In [24]:
res=pd.read_csv('csv/athlete_events.csv').head()
print(res)

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN

Affiche la table et son contenue

In [23]:
res1=pd.read_table('csv/athlete_events.csv').head()#affiche la table et son contenue
print(res1)

  ID,"Name","Sex","Age","Height","Weight","Team","NOC","Games","Year","Season","City","Sport","Event","Medal"
0  1,"A Dijiang","M",24,180,80,"China","CHN","199...
1  2,"A Lamusi","M",23,170,60,"China","CHN","2012...
2  3,"Gunnar Nielsen Aaby","M",24,NA,NA,"Denmark"...
3  4,"Edgar Lindenau Aabye","M",34,NA,NA,"Denmark...
4  5,"Christine Jacoba Aaftink","F",21,185,82,"Ne...

Supprime le contenue du fichier avec le header

In [ ]:
res2=pd.read_csv('csv/athlete_events.csv',skiprows=1,header=None)# supprime le contenue du fichier avec le header
print(res2)

Crée le contenue du fichier avec le header

In [ ]:
res3=pd.read_csv('csv/athlete_events.csv',names=['colonne_1','colonne_2'])# Crée le contenue du fichier avec le header
print(res3)

Rajoute la colonne index qui incremente

In [ ]:
res4=pd.read_csv("csv/athlete_events.csv",index_col=[0])#rajoute la colonne index qui incremente
res4.head()

Selection les colonnes a utilisés grace  leur position

In [ ]:
import pandas as pd
donnee_colonnes_position=pd.read_csv("csv/athlete_events.csv",usecols=[1,4,5])# selection les colonnes a utilisés grace  leur position
donnee_colonnes_position.head()

Selection les colonnes par leur nom

In [ ]:
donnee_uscols=pd.read_csv("csv/athlete_events.csv",usecols=["Name","Height","Weight"])#selection les colonnes par leur nom
donnee_colonnes_position.head()

In [ ]:
import pandas as pd
donnee_dates=pd.read_csv("csv/athlete_events.csv",parse_dates=[9])
donnee_dates.dtypes # types de données et nom des colonnes et n considere que la colonne 9 
#donnee_dates est un dataframe

lecture XLSX

In [ ]:
import pandas as pd
donnee_excel=pd.read_excel('xlsx/athlete_events.xlsx', sheet_name='Feuille2')
donnee_excel.head()

Lecture Database

In [ ]:
import pandas as pd
import sqlite3

connexion = sqlite3.connect('db/chinook.db') #se conecter a une base de données
requete ="SELECT * FROM employees;" #lecture de la table
resultats= pd.read_sql(requete,con=connexion) #on stock le resultat de la lecture 
resultats

Lecture Json

In [ ]:
import pandas as pd 
pd.read_json('json/example.json')

Exporter un dataFrame dans un CSV

In [ ]:
donnee_dates.to_csv("csv/res.csv",sep=',')#crée un csv
print(donnee_dates)

Creation d'une Series, c'est des colonne de tableau

In [1]:
import numpy as np
import pandas as pd 

mes_nombres= pd.Series(np.random.choice(list(range(0,500)),10))
print(mes_nombres)

0     75
1    336
2    311
3    441
4    221
5    442
6    123
7     77
8    344
9    462
dtype: int64

Imprimé une serie

In [2]:
ma_serie=pd.Series([25,45,62,12,11])#imprimé une serie
print(ma_serie)

0    25
1    45
2    62
3    12
4    11
dtype: int64

Série avec num et lettres

In [3]:
ma_list=["BadKev",1,3,5,7,8]#Série avec num et lettres
print(ma_list)

['BadKev', 1, 3, 5, 7, 8]

liste dans Série

In [ ]:
print(pd.Series(ma_list))#liste dans Série

Donne les type des donnés des case 0 et 1

In [4]:
series_mixed=pd.Series(ma_list)#donne les type des donnés des case 0 et 1
print(type(series_mixed[0]))
print(type(series_mixed[1]))

<class 'str'>
<class 'int'>

List dans un tableau

In [5]:
ma_serie_de_poids_index=pd.read_csv("csv/athlete_events.csv",usecols=[5],squeeze=True)
print(ma_serie_de_poids_index)

0         80.0
1         60.0
2          NaN
3          NaN
4         82.0
          ...
271111    89.0
271112    59.0
271113    59.0
271114    96.0
271115    96.0
Name: Weight, Length: 271116, dtype: float64

Choisir l'index dans un tableau et les colonnes

In [6]:
ma_serie_de_poids=pd.read_csv("csv/athlete_events.csv",usecols=[1,5],squeeze=True,index_col=[0])#selectionne des colonnes afficher 
ma_serie_de_poids

Name
A Dijiang                   80.0
A Lamusi                    60.0
Gunnar Nielsen Aaby          NaN
Edgar Lindenau Aabye         NaN
Christine Jacoba Aaftink    82.0
                            ...
Andrzej ya                  89.0
Piotr ya                    59.0
Piotr ya                    59.0
Tomasz Ireneusz ya          96.0
Tomasz Ireneusz ya          96.0
Name: Weight, Length: 271116, dtype: float64

Indexer via la position des valeur

In [ ]:
ma_serie_de_poids_index[[0,15,6985,425]]#indeer via la pisition pour accédé

Indexing via etiquette des valeurs

In [ ]:
ma_serie_de_poids[["Antti Sami Aalto","Andrzej ya"]]# prend en compt uniquement les valeurs présent dans les les colonne definies

In [ ]:
print(ma_serie_de_poids)

indexeur loc et iloc (etiquette et posiion)

In [7]:
ma_serie=pd.Series([10,11,12,13], index=[1,3,2,0])
ma_serie[0]

13

In [8]:
ma_serie.loc[0]

13

In [9]:
ma_serie.iloc[0]

10

Indexing via une expression booléenne

Affiche si un poids est strictemet superieur  90

In [10]:
ma_serie_de_poids>90# affiche si un poids est strictemet superieur  90

Name
A Dijiang                   False
A Lamusi                    False
Gunnar Nielsen Aaby         False
Edgar Lindenau Aabye        False
Christine Jacoba Aaftink    False
                            ...
Andrzej ya                  False
Piotr ya                    False
Piotr ya                    False
Tomasz Ireneusz ya           True
Tomasz Ireneusz ya           True
Name: Weight, Length: 271116, dtype: bool

Affiche les poids superieur a 90kg

In [11]:
ma_serie_de_poids[ma_serie_de_poids>90]#affiche les poids superieur a 90kg

Name
Antti Sami Aalto           96.0
Timo Antero Aaltonen      130.0
Andreea Aanei             125.0
Dagfinn Sverre Aarskog     98.0
Hans Aasns                 93.0
                          ...
Henk Jan Zwolle            93.0
Dominik ycki               95.0
Dominik ycki               95.0
Tomasz Ireneusz ya         96.0
Tomasz Ireneusz ya         96.0
Name: Weight, Length: 16819, dtype: float64

Recuperer l'ensemble des valeurs stritement supérieur a 90 et stritement inférieurs a 100

In [12]:
ma_serie_de_poids[(ma_serie_de_poids<90) & (ma_serie_de_poids<100)]

Name
A Dijiang                       80.0
A Lamusi                        60.0
Christine Jacoba Aaftink        82.0
Christine Jacoba Aaftink        82.0
Christine Jacoba Aaftink        82.0
                                ...
Aleksandr Viktorovich Zyuzin    72.0
Olga Igorevna Zyuzkova          69.0
Andrzej ya                      89.0
Piotr ya                        59.0
Piotr ya                        59.0
Name: Weight, Length: 188051, dtype: float64

Slicing: découpage de valeurs sucessives

In [13]:
ma_serie_de_poids_index.iloc[3:5]

3     NaN
4    82.0
Name: Weight, dtype: float64

In [14]:
ma_serie_de_poids_index.iloc[2:11:2]#les valeur suivants sont recupéré

2      NaN
4     82.0
6     82.0
8     82.0
10    75.0
Name: Weight, dtype: float64

In [15]:
ma_serie_de_poids_index.iloc[2:11]

2      NaN
3      NaN
4     82.0
5     82.0
6     82.0
7     82.0
8     82.0
9     82.0
10    75.0
Name: Weight, dtype: float64

In [16]:
ma_serie_de_poids_index.iloc[1000:]#serie ui va jusqua 20

1000      84.0
1001      84.0
1002      84.0
1003      73.0
1004      54.0
          ...
271111    89.0
271112    59.0
271113    59.0
271114    96.0
271115    96.0
Name: Weight, Length: 270116, dtype: float64

In [17]:
ma_serie_de_poids_index.iloc[:20]#les 20 premier valeur de notre Séries

0     80.0
1     60.0
2      NaN
3      NaN
4     82.0
5     82.0
6     82.0
7     82.0
8     82.0
9     82.0
10    75.0
11    75.0
12    75.0
13    75.0
14    75.0
15    75.0
16    75.0
17    75.0
18    72.0
19    72.0
Name: Weight, dtype: float64

Les attributs et les methodes des objets de classe Series

Les attributs des objets de classe

In [ ]:
ma_serie_de_poids.size

In [ ]:
ma_serie_de_poids.describe #description de l'objet

Ajouter,supprimer et modifier les valeurs d'une serie

Ajout de valeur dans une Série

In [18]:
ma_serie_de_poids=ma_serie_de_poids.append(pd.Series([90,120],index=["Claire Muller","Julien Villeroy"]))# ajout de valeur dans une Série
ma_serie_de_poids.loc[["Claire Muller","Julien Villeroy"]]

Claire Muller       90.0
Julien Villeroy    120.0
dtype: float64

Supprimer une valeur d'une Serie

In [19]:
ma_serie_de_poids.drop(labels=["Claire Muller","Julien Villeroy"],inplace=True)
ma_serie_de_poids.loc[["Claire Muller","Julien Villeroy"]]# la valeur a bien été supprimer

KeyError: "None of [Index(['Claire Muller', 'Julien Villeroy'], dtype='object')] are in the [index]"

Modifier les valeur d'une série

In [20]:
ma_serie_de_poids.loc[["Antti Sami Aalto"]]=56
ma_serie_de_poids.loc[["Antti Sami Aalto"]]#retourne le type et la valeur de la varriable

Antti Sami Aalto    56.0
dtype: float64

In [21]:
ma_serie_de_poids.loc[["Antti Sami Aalto","Andrzej ya"]]=[56,70]
ma_serie_de_poids.loc[["Antti Sami Aalto","Andrzej ya"]]

Antti Sami Aalto    56.0
Andrzej ya          70.0
dtype: float64

Sructure de données Pandas, 
les objets de type DataFrame

In [27]:
import pandas as pd #lire un dataFrame
donnees=pd.read_csv("csv/athlete_events.csv",index_col=[0])
donnees.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

Indexing : Selectionner des valeurs d'un data frame

Indexing et slicing avec attributs loc

In [28]:
donnees.loc["Usain St. Leo Bolt"]

KeyError: 'Usain St Leo Bolt'

In [30]:
donnees.loc["Usain St. Leo Bolt",["Games","Event","Medal"]]

KeyError: 'Usain St. Leo Bolt'

Indexing et slicing avec attributs iloc

Indexing et slicing avec expression booléenne

In [34]:
donnees[(donnees["Sex"]=="F")&(donnees["Medal"]=="Gold")]
print(donnees)

                            Name Sex   Age  Height  Weight            Team  \
ID
1                      A Dijiang   M  24.0   180.0    80.0           China
2                       A Lamusi   M  23.0   170.0    60.0           China
3            Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
4           Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
5       Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands
...                          ...  ..   ...     ...     ...             ...
135569                Andrzej ya   M  29.0   179.0    89.0        Poland-1
135570                  Piotr ya   M  27.0   176.0    59.0          Poland
135570                  Piotr ya   M  27.0   176.0    59.0          Poland
135571        Tomasz Ireneusz ya   M  30.0   185.0    96.0          Poland
135571        Tomasz Ireneusz ya   M  34.0   185.0    96.0          Poland

        NOC        Games  Year  Season            City          Sport  \
ID
1       CHN  1992 Summer  1992  Summer       Barcelona     Basketball
2       CHN  2012 Summer  2012  Summer          London           Judo
3       DEN  1920 Summer  1920  Summer       Antwerpen       Football
4       DEN  1900 Summer  1900  Summer           Paris     Tug-Of-War
5       NED  1988 Winter  1988  Winter         Calgary  Speed Skating
...     ...          ...   ...     ...             ...            ...
135569  POL  1976 Winter  1976  Winter       Innsbruck           Luge
135570  POL  2014 Winter  2014  Winter           Sochi    Ski Jumping
135570  POL  2014 Winter  2014  Winter           Sochi    Ski Jumping
135571  POL  1998 Winter  1998  Winter          Nagano      Bobsleigh
135571  POL  2002 Winter  2002  Winter  Salt Lake City      Bobsleigh

                                           Event Medal
ID
1                    Basketball Men's Basketball   NaN
2                   Judo Men's Extra-Lightweight   NaN
3                        Football Men's Football   NaN
4                    Tug-Of-War Men's Tug-Of-War  Gold
5               Speed Skating Women's 500 metres   NaN
...                                          ...   ...
135569                Luge Mixed (Men)'s Doubles   NaN
135570  Ski Jumping Men's Large Hill, Individual   NaN
135570        Ski Jumping Men's Large Hill, Team   NaN
135571                      Bobsleigh Men's Four   NaN
135571                      Bobsleigh Men's Four   NaN

[271116 rows x 14 columns]